body {
   box-sizing: border-box;
   background-color: #0676e6;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}
main {
   background-color: #eeeeee;
   width: 800px;
   height: 500px;   
   border: 1px solid #eeeeee;
   border-radius: 10px;
   margin-top: 120px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.container {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;
}
div {
   width: 150px;
   height: 245px;
   border: 1px solid white;
   background-color: white;
   border-radius: 4px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
p {
   font-size: 8px;
   text-align: center;
   color: #afb6bd;
   line-height: 1.9;
}
.basic {
   font-size: 7px;
   border: 1px solid #0676e6;
   border-radius: 15px;
   background-color: #0676e6;
   color: white;
   width: 100px;
   height: 12px;
   padding: 3px 0 2px 0;
   margin-top: 15px;
}
h2 {
   margin-bottom: 0px;
   margin-top: 8px;
   font-family: Arial, Helvetica, sans-serif
}
.day {
   color: black;
   font-size: 7px;
   font-weight: 600;
   margin-top: 0px;
}
button {
   width: 120px;
   height: 25px;
   background-color: white;
   border: 2px solid #2c75df;
   border-radius: 20px;
   font-size: 8px;
   color: #2c75df;
   font-weight: 600;
   margin: 12px;
}
@media (max-width: 1200px) {
   section {
      display: flex;
      flex-wrap: wrap;
      width: 500px;
      justify-content: center;
   }
   main {
      width: 600px;
      height: 600px;
   }
   body {
      background-color: #4b70a8;
   }
}
@media (max-width: 992px) {
   section {
      display: flex;
      flex-wrap: wrap;
      width: 400px;
      justify-content: center;
   }
   main {
      width: 430px;
   }
   body {
      background-color: #385075;
   }

}
@media (max-width: 480px) {
   section {
      display: flex;
      flex-wrap: wrap;
      width: 320px;
      justify-content: center;
   }
   main {
      margin-top: 20px;
      width: 200px;
      height: 1090px;
   }
   body {
      background-color: #5a677a;
   }
}